<?xml version="1.0" encoding="UTF-8" ?>
<configuration monitorinterval="300" status="DEBUG">
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <patternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{2} - %msg%n"/>
        </console>
        <file name="file" fileName="/java tasks/Final_project_Fitness_center_Tsyrulik/log/log.log">
            <patternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{2} - %msg%n"/>
        </file>
    </appenders>
    <loggers>
        <root level="debug">
            <!--<appenderRef ref="console" /> !-->
            <appenderRef ref="file"/>
        </root>
    </loggers>
</configuration>