<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="FileLogger" fileName="D:\java tasks\Final_project_Fitness_center_Tsyrulik\web\WEB-INF\logs\log.txt" append="false">
            <PatternLayout pattern="%d [%t] %-5p %c{5} - %m%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="FileLogger" />
        </Root>
    </Loggers>
</Configuration>